.hotmanga_container{
  border: 0.5px solid rgba(rgb(17,17,17), 0.2);
  width: 100%;
  max-width: 1250px;
  height: 270px;
  border-radius: 10px;
  .hotmanga_item{
    display: flex;
    flex-wrap: wrap;
    .hotmanga_image{
      border-radius: 7px;
      transition: all 0.7 ease;
      &:hover{
        transform: scale(1.04);
        transition: transform 0.7s ease-out;
      }
    }
    .hotmanga_name{
      position: absolute;
      text-decoration: inherit;
      background: linear-gradient(
                      rgba(0,0,0,0.05),
          rgba(0,0,0,1)
      );
      color: #fff;
      bottom: 0;
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        &:hover{
          color: #10b18e;
        }
      }
    }
  }
}